<table>
    <tr style="vertical-align: top;">
        <td colspan="4">
            <p style='text-align: center; font-weight:bold'>
                <mat-label>Ordine</mat-label>
                &nbsp;
                <mat-label>{{ orderHandler.details.orderRef }} {{ orderHandler.details.customerDescription }} </mat-label>
                &nbsp;
                <mat-label>- Valore</mat-label>
                &nbsp;
                <mat-label>{{ orderValue | number:'.2-2' }}&euro;</mat-label>
            </p>
        </td>
    </tr>
    <tr style="vertical-align: top;">
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Stato</mat-label>
                <mat-select [(ngModel)]="orderHandler.details.status" 
                            (selectionChange)="onOrderStatusChange($event)">
                    <div *ngFor="let item of status;" >
                        <mat-option [value]="item.id" [disabled]="item.disabled" >{{ item.des }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Vettore</mat-label>
                <mat-select id="forwarder"
                            [(ngModel)]="orderHandler.details.forwarder" 
                            (selectionChange)="onAttributeChange($event)">
                    <div *ngFor="let item of forwarder;" >
                        <mat-option [value]="item.id" >{{ item.des }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </td>
        <td colspan="2">
            <mat-form-field appearance="fill" rows="1" style="width: 320px !important">
                <mat-label style='font-size: 11px;'>Note</mat-label>
                <textarea matInput [(ngModel)]="orderHandler.note.note" 
                                (change)="onOrderNoteChange($event)"
                                style="line-height: 17px !important;max-height: 17px !important; resize: none">
                </textarea>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr style='text-align: left;' 
                    *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status) && (orderHandler.details.forwarder=='CES') ">          
                    <td style="width:100px">
                        <mat-label>Dimensioni</mat-label>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Lun</mat-label>
                            <input matInput id="palletLength"
                                    [(ngModel)]="orderHandler.shipments[0].palletLength" 
                                    (change)="onShipmentAttributeChange($event)"
                                    placeholder="Larghezza"
                                    maxlength="3">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Lar</mat-label>
                            <input matInput id="palletWidth"
                                    [(ngModel)]="orderHandler.shipments[0].palletWidth" 
                                    (change)="onShipmentAttributeChange($event)"
                                    placeholder="Larghezza"
                                    maxlength="3">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Alt</mat-label>
                            <input matInput id="palletHeigth"
                                [(ngModel)]="orderHandler.shipments[0].palletHeigth" 
                                (change)="onShipmentAttributeChange($event)"
                                placeholder="Altezza"
                                maxlength="3">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Kg</mat-label>
                            <input matInput id="palletWeigth"
                                [(ngModel)]="orderHandler.shipments[0].palletWeigth" 
                                (change)="onShipmentAttributeChange($event)"
                                placeholder="Peso"
                                maxlength="3">
                        </mat-form-field>
                    </td>
                    <td style="vertical-align: top">
                        <button mat-button id="addShipment" (click)="addShipment()" style='height: 40px;'>
                            <span *ngIf="orderHandler.shipments.length>1" style="color: red; font-weight: bold;font-size: 16px">+</span>
                            <span *ngIf="orderHandler.shipments.length<=1" style="color: black;font-size: 16px;">+</span>
                        </button>
                    </td>
                </tr>
                <tr style='text-align: left;' 
                    *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status) && attributeInSet(['TWS', 'CLI'], orderHandler.details.forwarder) ">
                    <td style="width:100px">
                        <mat-label>Numero colli</mat-label>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <input matInput id="numberOfItemsToShip"
                                    [(ngModel)]="orderHandler.shipments[0].numberOfItemsToShip" 
                                    (change)="onAttributeChange($event)"
                                    placeholder="Colli">
                        </mat-form-field>
                    </td>
                    <td style='width: 45px'>
                        &nbsp;
                    </td>
                    <td style='width: 45px'>
                        &nbsp;
                    </td>
                    <td style='width: 45px'>
                        &nbsp;
                    </td>
                    <td style='width: 45px'>
                        &nbsp;
                    </td>
                </tr>
                <tr *ngIf="!attributeInSet(['RDY', 'PRE'], orderHandler.details.status)">
                    <td colspan="6" style='width: 325px'>
                        &nbsp;
                    </td>
                </tr>
                <tr *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status) && orderHandler.details.forwarder!='CLI'">
                    <td >
                        <mat-label style="width:100px">Spedizione</mat-label>
                    </td>
                    <td style='vertical-align: center;'>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Cli</mat-label>
                            <input matInput id="clientCost"
                                    [(ngModel)]="orderHandler.details.clientCost" 
                                    (change)="onAttributeChange($event)"
                                    maxlength="7"
                                    [disabled]="(attributeInSet(['CES'], orderHandler.details.forwarder) ? true : false)"/>
                        </mat-form-field>
                    </td>
                    <td style='vertical-align: center;'>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Vet</mat-label>
                            <input matInput id="forwarderCost"
                                    [(ngModel)]="orderHandler.details.forwarderCost" 
                                    maxlength="7"
                                    disabled="true;">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Ass</mat-label>
                            <input matInput id="insuranceCost"
                                    [(ngModel)]="orderHandler.details.insuranceCost" 
                                    (change)="onAttributeChange($event)"
                                    maxlength="5">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>DDT</mat-label>
                            <input matInput id="transportDocNum"
                                [(ngModel)]="orderHandler.details.transportDocNum" 
                                (change)="onAttributeChange($event)">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Prov</mat-label>
                            <input matInput id="province"
                                [(ngModel)]="orderHandler.customerDelivery.province" 
                                (change)="onDeliveryAttributeChange($event)">
                        </mat-form-field>
                    </td>
<!--
    
-->
                </tr>
                <tr *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status) && orderHandler.details.forwarder=='CLI'">
                    <td >
                        <mat-label style="width:100px">Spedizione</mat-label>
                    </td>
                     <td style='width:45px;'>
                        &nbsp;
                    </td>
                    <td style='width:45px;'>
                        &nbsp;
                    </td>
                    <td style='width:45px;'>
                        &nbsp;
                    </td>
                    <td style='width:45px;'>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>DDT</mat-label>
                            <input matInput id="transportDocNum"
                                [(ngModel)]="orderHandler.details.transportDocNum" 
                                (change)="onAttributeChange($event)">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Prov</mat-label>
                            <input matInput id="province"
                                [(ngModel)]="orderHandler.customerDelivery.province" 
                                (change)="onDeliveryAttributeChange($event)">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </td>
        <td style='text-align: left;'>
            <table>
                <tr style='text-align: left;'>
                    <td>
                        <mat-label>Approntamento</mat-label>
                    </td>
                    <td colspan="4">
                        <mat-form-field style='width: 100px'>
                            <input matInput 
                                    [matDatepicker]="requestedAssemblyDate" 
                                    [(ngModel)]="orderHandler.details.requestedAssemblyDate"
                                    (ngModelChange)="onAttributeChange({source: { _id: 'requestedAssemblyDate', 'value' : $event}})"
                                    placeholder="Scegli data">
                            <mat-datepicker-toggle matSuffix [for]="requestedAssemblyDate"></mat-datepicker-toggle>
                            <mat-datepicker #requestedAssemblyDate></mat-datepicker>
<!--
                                    (ngModelChange)="onAttributeChange({source: { _id: 'requestedAssemblyDate', 'value' : orderHandler.details.requestedAssemblyDate.format('YYYY-MM-DD')}})"
                            <input #startDate matInput 
                                        [matDatepicker]="requestedAssemblyDate" 
                                        [(ngModel)]="orderHandler.details.requestedAssemblyDate"
                                        (ngModelChange)="onAttributeChange($event)"
                                        (dateInput)="evalDate($event.value.format('YYYY-MM-D'))"
                                        placeholder="Scegli data">
                            <mat-datepicker-toggle matSuffix [for]="requestedAssemblyDate"></mat-datepicker-toggle>
                            <mat-datepicker #requestedAssemblyDate></mat-datepicker>
                            <input matInput [matDatepicker]="requestedAssemblyDate" 
                                            placeholder="Scegli data" 
                                            [(ngModel)]="orderHandler.details.requestedAssemblyDate"
                                            (ngModelChange)="onAttributeChange({source: { _id: 'requestedAssemblyDate', 'value' : $event}})">
                            <mat-datepicker-toggle matSuffix [for]="requestedAssemblyDate"></mat-datepicker-toggle>

                            <mat-datepicker #requestedAssemblyDate></mat-datepicker>
--> 
                        </mat-form-field>
                    </td>
                </tr>
                <tr style='text-align: left;'>
                    <td>
                        <mat-label>Statistiche</mat-label>
                    </td>
                    <td colspan="4">
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Aut</mat-label>
                            <input matInput id="assemblyTimeAuto"
                                    [(ngModel)]="orderHandler.details.assemblyTimeAuto" 
                                    maxlength="3"
                                    disabled>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field appearance="fill" style="width:45px !important; text-align: right;">
                            <mat-label>Man</mat-label>
                            <input matInput id="assemblyTime"
                                    [(ngModel)]="orderHandler.details.assemblyTime" 
                                    (change)="onAttributeChange($event)"
                                    maxlength="3">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
         </td>
            <table>
                <tr style='vertical-align: middle;'>
                    <td *ngIf="attributeInSet(['RDY', 'PRE'], orderHandler.details.status)">
                        <button mat-button id="printLab" (click)="printLabels()">Etichette</button>
                     </td>
                     <td *ngIf="!attributeInSet(['RDY', 'PRE'], orderHandler.details.status)">
                        &nbsp;
                     </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr style='vertical-align: middle;'>
                    <td *ngIf="attributeInSet(['RDY'], orderHandler.details.status)">
                        <button mat-button id="mailPick" (click)="mailPickup()">Mail Pick</button>
                     </td>
                     <td *ngIf="!attributeInSet(['RDY'], orderHandler.details.status)">
                        &nbsp;
                     </td>
                </tr>
            </table>
    </tr>
</table>