<div *ngIf="!logged">
    <label>Nome: </label>
    <input id="name" type="text" [(ngModel)]="name">
    <button (click)="logon()">Logon</button>
</div>
<div *ngIf="logged">
    <mat-label style='text-align: center;'>Utente: {{ name }}</mat-label>
    <br>
    <textarea id="output">{{ textarea }}</textarea>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Tipo msg</mat-label>
        <mat-select [(ngModel)]="msgType">
            <div *ngFor="let item of msgTypeList;" >
                <mat-option [value]="item.id" [disabled]="item.disabled" >{{ item.des }}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field *ngIf="msgType==4" appearance="fill">
        <mat-label>Utenti in linea</mat-label>
        <mat-select id="userList" 
                    [(ngModel)]="tokenSelected" 
                    (selectionChange)="setSelected($event)">
            <div *ngFor="let u of userList;" >
                <mat-option [value]="u.token" [disabled]="u.disabled" >{{ u.account }}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <br>
    <div>
        Messaggio:
        <input type="text" id="input" [(ngModel)]="msg.text">
        &nbsp;
        <button (click)="sendMsg()">Send</button>
    </div>    
</div>