textarea {
    width: 450px;
    height: 150px;
    overflow-y: scroll;
    resize: none;
    background-color: #ffffff;
}

div#output {
    max-width: 475px;
    min-height: 140px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: wrap;
    resize: none;
    white-space: pre-wrap;
    font-size: 14px;
}

input {
    width: 300px;
}

.redStatement {
    color: red;
}

.greenStatement {
    color: green;
}

.blueStatement {
    color: blue;
}